/* Reset some default styles */
body,
h1,
h2 {
    margin: 0;
    padding: 0;
}

p {
    padding: 2px;
}

/* Apply a basic style */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    padding-bottom: 2em;
}

#nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-list li {
    display: inline-block;
    margin-right: 6px;
    /* Adjust this value as needed to control the space between items */
}

#nav-list li:last-child {
    margin-right: 0;
    /* Remove margin for the last item to avoid unnecessary spacing */
}

#company-name {
    margin-left: 50px;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
}

.navGroup {
    font-size: large;
    font-weight: bold;
    background: #ffffff;
    color: #862633;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    margin-top: 30px;

    justify-content: space-between;
    align-items: center;
}

#logo-left {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#company-name {
    font-size: 45px;
    text-align: center;
    /* Adjust the font size as needed */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 50px;
    padding-left: 10px;
}

nav ul li a {
    color: #862633;
    text-decoration: none;
}

#burger-menu {
    display: none;
    /* Hidden by default */
    cursor: pointer;
}

.burger-bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

section {
    padding: 20px;
}

/* Style for individual sections */
#about,
#contact {
    background-color: #f2e9db;
}

#menu .menu-category {
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: smaller;
}

#product {
    background: #ffffff;
    color: #862633;
    text-align: center;
    padding: 0%;
}

#contactText p {
    display: block;
    margin-bottom: 60px;
}

.productsGroup,
#recipeGroup,
.ContactUsGroup {
    display: block;
    background: #ffffff;
}

#productName,
#recipeName,
#contactName {
    background: #f2e9db;
    color: #862633;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    /* Adjust the height as needed */
}

#product01,
#contact {
    background-color: #ffffff;
}

#product01Img,
#product02Img,
#product03Img,
#product04Img,
#recipe01Img,
#recipe02Img,
#recipe03Img,
#recipe04Img,
#recipe05Img {
    text-align: center;
    width: 40vw;
}

#product01Text,
#product02Text,
#product03Text,
#product04Text,
#recipe01Text,
#recipe02Text,
#recipe03Text,
#recipe04Text,
#recipe05Text {
    color: #862633;
    margin-top: 2%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 2%;
    display: flex;
    text-align: left;
    width: 70vw;

}

#product00Text {
    color: #862633;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    text-align: left;
    width: 100vw;
}

.ContactUsGroup {
    display: flex;
    flex-direction: column;
    text-align: center;

}

#contactImg {
    /* text-align: center; */

    width: 50vw;

    align-self: center;
}

#contactText {
    color: #862633;
    margin-top: 2%;
    margin-left: 15%;
    align-content: center;
    align-self: center;
    text-align: left;
    width: 50vw;
}

h3 {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

.database-view {
    margin: 50px auto;
}

#login-div {
    float: right;
    padding-right: 2%;
}



/* for index page --Xiaowei Wang*/
.textStyleInHomePage {
    font-size: larger;
    font-weight: bold;
    color: #862633;
}

/* .fieldsettop {
    border-radius: 0.75em;
    color: #862633;
    margin-top: 0.5em;
    background-color: #f2e9db
} */

.submitButton input {
    /* margin-left: 10%; */
    width: 160px;
    /* Set the width of the button, you can adjust as needed */
    height: 40px;
    /* Set the height of the button, you can adjust as needed */
    /* Additional styling for the button */
    background-color: #862633;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: smaller;

}

.submitButton input:hover {
    background-color: #cf5767;
    /* Change the background color on hover */
}

.submitButton {

    display: flex;
    justify-content: center;
    /* margin-left: 10%; */
    margin-top: 20px;
    margin-bottom: 30px;
    /* Adjust the margin as needed */
}

.sendMsg {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    /* Adjust the margin as needed */
}

label {

    margin-left: 19%;
}

.message {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align items to the start (top) */
    margin-bottom: 10px;
    /* Adjust margin as needed */
}

.message label {
    margin-left: 10%;
    margin-bottom: 5px;
}

.message textarea {
    margin-left: 10%;
    width: 60%;
    padding: 8px;
    box-sizing: border-box;
    resize: vertical;
}

.slider-indicator,
.slider-indicator1,
.slider-indicator2 {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.textStyleInHomePage {
    font-size: larger;
    font-weight: bold;
    color: #862633;
}

.fieldsettop {
    border-radius: 0.75em;
    /* color: #862633; */
    margin-top: 0.5em;
    background-color: #f2e9db;
    width: 93%
}

.divlevel1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;

    color: #862633;
}

.divlevel2-left {
    /* border: 0.2 solid blueviolet; */
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.divlevel2-right {
    /* border: 0.2 solid blueviolet; */
    flex: 1;
    color: #862633;
}

.Titleword {
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #862633;
}

#introductionforCHF {

    color: #862633;
}

img {
    height: auto;
    width: 300px;
}


.producttext {
    font-size: x-large;
    font-weight: bolder;
    color: #862633;
}

/* Media query for mobile devices */
@media (max-width: 768px) {

    #company-name {
        display: none;
        /* Hide company name on mobile */
    }

    #burger-menu {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }


    nav ul {
        flex-direction: column;
        position: absolute;
        top: 20%;
        left: -100%;
        width: 100%;
        background-color: #fff;
        transition: left 0.3s;

    }

    nav ul li {
        text-align: center;
        padding: 10px 0;
    }

    nav ul li a {
        color: #862633;
    }

    .divlevel1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 1em;
        margin-bottom: 1em;

        color: #862633;
    }

    #contactImg {
        display: none;
    }

    #contactText {
        color: #862633;
        margin-top: 2%;
        margin-left: 5%;
        text-align: left;
        width: 100vw;
    }

    #logo-left img {
        display: flex;
        align-items: left;

        margin-left: 20px;
        margin-right: auto;
        width: 40px;
        height: 40px;

    }
}