/* Reset some default styles */
body,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p{
  padding: 5em;
}

/* Apply a basic style */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
}

header h1 {
  padding-left: 20px;
}

nav ul#nav-list {
  list-style-type: none;
}

nav ul#nav-list li {
  display: inline;
  margin-right: 20px;
}

nav ul#nav-list li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
}

/* Style for individual sections */
#about,
#contact {
  background-color: #f4f4f4;
}

#menu .menu-category {
  margin-bottom: 20px;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.topBar {
  display: flex;
  flex-direction: row;
}

.Brand {
  border-left: 75px;
  border-right: 75px;
  border-color: red;
  border-width: 75px;
}

/*Box for name and email section in contact us form*/
.nameEmail {
  height: 22px;
  max-width: 60%;
  align-items: center;
  gap: 5px;
}

/*Box for message section in contact us form*/
.message {
  height: 44px;
  max-width: 60%;
  align-items: center;
  gap: 5px;
}

/*The submit button itself*/
.submitButton {
  display: flex;
  width: 200px;
  color: white;
  align-items: center;
  border-radius: 30px;
  height: 22px;
}

/*The box for the entire contact us form BOX.*/
.contactUs {
  background-color: #333;
  align-items: center;
  height: 300px;
  /* border-radius: 30px; to get those lovely rounded corners */
}

/*separate rules for the form itself*/
.contactUs form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}

/*Rules for all 3 inputs, to align*/
.nameEmail,
.message {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*Input box for Name and email sections. Note the flatter corners=smaller border radius*/
.nameEmail input {
  width: 60%;
  border-radius: 7px;
  height: 22px;
  flex-grow: 2;
}

/*Same deal. Double the height as name and email*/
.message input {
  width: 60%;
  border-radius: 7px;
  height: 44px;
  flex-grow: 2;
}
